@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background text-text font-sans antialiased;
    }
}

@layer components {
    .nav-link {
        @apply text-slate-400 hover:text-white text-sm font-medium transition-colors relative py-1;
    }

        .nav-link.active {
            @apply text-white;
        }

            .nav-link.active::after {
                content: '';
                @apply absolute bottom-0 left-0 w-full h-0.5 bg-accent shadow-[0_0_8px_rgba(56,189,248,0.8)];
            }
}
